<h2>ReCache Report</h2>
<table class="recache">
  <tr> 
    <th>Num</th>
    <th>Domain</th>
    <th>Type</th>
  </tr>
<% @top_data.each do |d| %>
  <tr>
    <td><%= d[1] %></td>
    <td><%= d[0][0] %></td> 
    <td><%= d[0][1] %></td> 
  </tr>
<% end %>
</table>
